{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

		<div class="row banner menu">
			<div class="col-md-11 col-md-offset-1 padding-none">
				<h1>Edit Movie Information</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-11 col-md-offset-1 padding-top">
				<form action="#" method="POST">
					<div class="form-group">
						<div class="input-group input-group-lg">
							<lable for="name">Title:</label>
							<input type="text" maxlength="50" rows="5" name="name" placeholder="{{movie.name}}">
						</div>
						<div class="input-group input-group-lg">
							<label for="genre">Genre:</label>
							<div class="radio">
								<label>
									<input type="radio" name="genre" id="genre1" placeholder="Action" {% if movie.genre == "Action" %}checked{% endif %}>Action
						  		</label>
						  	</div>
						  	<div class="radio">
								<label>
									<input type="radio" name="genre" id="genre2" placeholder="Adventure" {% if movie.genre == "Adventure" %}checked{% endif %}>Adventure
						  		</label>
						  	</div>
							<div class="radio">
								<label>
									<input type="radio" name="genre" id="genre3" placeholder="Animation" {% if movie.genre == "Animation" %}checked{% endif %}>Animation
						  		</label>
						  	</div>
						  	<div class="radio">
								<label>
									<input type="radio" name="genre" id="genre4" placeholder="Biography" {% if movie.genre == "Biography" %}checked{% endif %}>Biography
						  		</label>
						  	</div>
						  	<div class="radio">
								<label>
									<input type="radio" name="genre" id="genre5" placeholder="Comedy" {% if movie.genre == "Comedy" %}checked{% endif %}>Comedy
						  		</label>
						  	</div>
						  	<div class="radio">
								<label>
									<input type="radio" name="genre" id="genre6" placeholder="Documentary" {% if movie.genre == "Documentary" %}checked{% endif %}>Documentary
						  		</label>
						  	</div>
						  	<div class="radio">
								<label>
									<input type="radio" name="genre" id="genre7" placeholder="Drama" {% if movie.genre == "Drama" %}checked{% endif %}>Drama
						  		</label>
						  	</div>
						  	<div class="radio">
								<label>
									<input type="radio" name="genre" id="genre8" placeholder="Horror" {% if movie.genre == "Horror" %}checked{% endif %}>Horror
						  		</label>
						  	</div>
						  	<div class="radio">
								<label>
									<input type="radio" name="genre" id="genre9" placeholder="Romance" {% if movie.genre == "Romance" %}checked{% endif %}>Romance
						  		</label>
						  	</div>
						  	<div class="radio">
								<label>
									<input type="radio" name="genre" id="genre10" placeholder="Sci-Fi" {% if movie.genre == "Sci-Fi" %}checked{% endif %}>Sci-Fi
						  		</label>
						  	</div>
						  	<div class="radio">
								<label>
									<input type="radio" name="genre" id="genre11" placeholder="Thriller" {% if movie.genre == "Thriller" %}checked{% endif %}>Thriller
						  		</label>
						  	</div>
						</div>

						<div class="input-group input-group-lg">
							<label for="poster">Poster URL: </label>
							<input type="text" maxlength="300" rows="3" name="poster" placeholder="{{movie.poster}}">
						</div>

						<div class="input-group input-group-lg">
							<label for="trailer">Trailer Youtube URL: </label>
							<input type="text" maxlength="300" rows="3" name="trailer" placeholder="{{movie.trailer}}">
						</div>

						<div class="input-group input-group-lg">
							<label for="info">More information: </label>
							<input type="text" maxlength="300" rows="3" name="info" placeholder="{{movie.info}}">
						</div>

						<input type="submit" class="btn btn-default" value="Submit">
						
						<a href="{{url_for('showAllMovies')}}" class="btn btn-default" role="button">
							Cancel
						</a>
						
					</div>
				</form>
			</div>
		</div>
{% endblock %}